<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <!-- ADD FOOTER LOGO maybe. -->
                    {{!-- <div class="footer-logo">
                        <a href="{{url}}"><img src="{{asset 'images/logo.png'}}" alt="Logo"></a>
                    </div> --}}
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="/leaderboard">Leaderboard</a></li>
                            <li><a href="/myprofile">My Profile</a></li>
                            <!-- ADD IF STATEMENT TO DISPLAY LOGIN OR LOGOUT -->
                            <li><a href="/login">Login</a></li>
                            <li><a id="logout" class="btn-no-style">Logout</button></li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <h3>Meet The Friendly Fire Agents</h3>
                        <ul>
                            <li><a href="https://github.com/rkml14"><img src="{{agentMap.Fade.displayIconSmall}}" alt="Fade Icon">Rebecca</a></li>
                            <li><a href="https://github.com/PoochMagunder"><img src="{{agentMap.Omen.displayIconSmall}}" alt="Omen Icon">Devon</a></li>
                            <li><a href="https://github.com/akaydia"><img src="{{agentMap.Jett.displayIconSmall}}" alt="Jett Icon">Ricky</a></li>
                        </ul> <!-- end of footer-social ul --> 
                    </div> <!-- end of footer-social div -->
                </div> <!-- end of footer-content div -->
            </div> <!-- end of col div -->
        </div> <!-- end of row div -->
    </div> <!-- end of container div -->
</footer>
